.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.iconButton {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 0;
  background-color: transparent;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
}

.iconButton:hover{
  background-color: #f0f2f1;
}

.liItems {
  border-radius: 5px;
  border: 2px solid #555555;
  font-family: Courier New,Courier,monospace;
  padding: 3px;
  width:auto;
  margin-right: 1px;
  margin-left:1px;
  font-weight: 700;
  color:#555555
  /* font-weight:bold; */
  /* font-size: 16px; */
  
}


.container {
  display: flex;
  width:970px;
  padding:30px;
  flex-grow: 1;  
}

.containerBlue{
  width:80%;
  color:#fff; 
  background-color:#378AAD;
  font-family:Roboto,Noto Sans TC,Noto Sans SC,Noto Sans KR,Noto Sans JP,Noto Sans,PingFang TC,Microsoft JhengHei,PMingLiU,sans-serif;
  padding:30px;
}

.containerL{
  width:80%;
  color:black; 
  background-color:white;  
  padding:30px;
  font-weight: 700;
}

.containerEdu{
  width:80%;
  background-color:white;  
  padding:30px;
}

.containerExp{
  /* width:80%; */
  color:black; 
  background-color:white; 
  font-family:Roboto,Noto Sans TC,Noto Sans SC,Noto Sans KR,Noto Sans JP,Noto Sans,PingFang TC,Microsoft JhengHei,PMingLiU,sans-serif; ;  
}
.containerExpHeader{
  width:80%;
  background-color:white; 
  padding:30px;
}
.containerProf{
  /* width:390px; */
  width:80%;
  background-color:white;  
  padding:30px;
  align-items: flex-start;
}


@media screen and (min-width: 700px) {
  .container {
    flex-direction: column;
    width:390px;
  }
  .containerBlue{
    display: flex;
    width:60%;
    padding:30px;
    justify-content: space-around;
    font-family: Roboto,Noto Sans TC,Noto Sans SC,Noto Sans KR,Noto Sans JP,Noto Sans,PingFang TC,Microsoft JhengHei,PMingLiU,sans-serif
    
  }
  .containerL{
    display: flex;
    justify-content: space-between;
    width:60%;
    
  }
  .containerExp{
    display: flex;
    width:100%;
    justify-content: flex-start;
    margin-bottom: 20px;
    font-family: Roboto,Noto Sans TC,Noto Sans SC,Noto Sans KR,Noto Sans JP,Noto Sans,PingFang TC,Microsoft JhengHei,PMingLiU,sans-serif;
  }
  .containerExpHeader{
    width:60%;
  }
  .containerEdu{
    width:60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
  }
  .containerProf{
    width:60%;
    display: flex;
    justify-content: space-around;
     
    /* padding: 20px;  */
  }
}
